<button class = "btn btn-success float-right mt-2 mb-2">+ Novo</button><br>
<table class = "table table-sm table-hover table-responsive-sm">
    <thead class = "thead-dark">
        <tr>
            <th>Nome</th>
            <th>E-mail</th>
            <th>Telefone</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let c of contatos">
            <td>{{c.nome}}</td>
            <td>{{c.email}}</td>
            <td>{{c.telefone}}</td>
            <td>
                <button class = "btn btn-primary btn-info btn-sm mr-2">Alterar</button>
                <button class = "btn btn-primary btn-danger btn-sm">Excluir</button>
            </td>
        </tr>
    </tbody>
</table>