<ul class = "list-group">
  <li class = "list-group-item d-flex justify-content-between">
    <div><h6>Mês de Referência</h6></div>
    <span class = "text-muted">{{result.referencia | uppercase}}</span>
  </li>
  <li class = "list-group-item d-flex justify-content-between">
    <div><h6>Código Fipe</h6></div>
    <span class = "text-muted">{{result.fipe_codigo}}</span>
  </li>
  <li class = "list-group-item d-flex justify-content-between">
    <div><h6>Marca</h6></div>
    <span class = "text-muted">{{result.marca | uppercase}}</span>
  </li>
  <li *ngIf = "result.name.length <= 31" class = "list-group-item d-flex justify-content-between">
    <div><h6>Modelo</h6></div>
    <span class = "text-muted">{{result.name | uppercase}}</span>
  </li>
  <li *ngIf = "result.name.length > 31" class = "list-group-item" >
    <div><h6>Modelo</h6></div>
    <span class = "text-muted">{{result.name | uppercase}}</span>
  </li>
  <li class = "list-group-item d-flex justify-content-between">
    <div><h6>Ano</h6></div>
    <span class = "text-muted">{{result.ano_modelo}}</span>
  </li>
  <li class = "list-group-item d-flex justify-content-between">
    <div><h6>Combustível</h6></div>
    <span class = "text-muted">{{result.combustivel | uppercase}}</span>
  </li>
  <li class = "list-group-item d-flex justify-content-between">
    <div><h6>Preço Médio</h6></div>
    <span class = "text-muted">{{result.preco}}</span>
  </li>
</ul>

<p></p>

<button type = "button" class = "btn btn-primary btn-block" (click) = "voltar()">Voltar</button>