<app-bread-crumb [items]="[{text: title}]">
</app-bread-crumb>

<app-page-header [page-title]="title" button-text="+Novo" button-link="new" button-class="btn-success">
</app-page-header>

<div class="table-responsive-sm">
    <table class="table table-hover">
        <caption *ngIf="models">Total de Registros: {{models.length}}</caption>
        <thead>
            <tr class="bg-primary text-light">
                <th>Nome</th>
                <th>Estado</th>
                <th class="text-center">Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cidade of models">
                <td>{{cidade.nome}}</td>
                <td>{{cidade.estado.nome}}</td>
                <td class="text-center">
                    <a [routerLink]="[cidade.id, 'edit']" class="btn btn-outline-info btn-sm mr-2">Alterar</a>
                    <button (click)="delete(cidade)" class="btn btn-outline-danger btn-sm">Excluir</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>